<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
h1,h3 {font-family: "Raleway", sans-serif}
</style>


<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <h1><b>HotZone - Case</b></h1>
  <h3>{{ location.case.disease.disease_name }}</h3>
  <h4>{{ location.case.patient.patient_name }}</h4>
  <h4>Edit {{ location.place.location }}</h4>
</header>

<div class="w3-container w3-padding">
  <div class="w3-row">
    <div class="w3-col w3-container l2 m1 s0"></div>
    <div class="w3-col w3-container l8 m10 s12">
      <div class="w3-row">
        <div class="w3-col w3-left w3-container w3-center" style="width:100px"> <a class="w3-button w3-white w3-border" href="{% url 'case_location_details' location.case.pk %}">&lt; Back</a> </div>
        <div class="w3-button w3-border w3-right w3-center w3-text-red" style="width:100px"onclick="deleteCaseLocation()">DELETE</div>
      </div>
    </div>
    <div class="w3-col w3-container l2 m1 s0"></div>
  </div>
</div>

<div class="w3-container w3-padding-16"></div>

<div class="w3-container w3-padding">
  <div class="w3-row">
    <div class="w3-col w3-container l3 m2 s1"></div>
    <form class="w3-col w3-container l6 m8 s10 w3-border w3-padding-32" action="submit/{{ location.pk }}" method="post">
      {% csrf_token %}
      {% load widget_tweaks %}
      <div class="w3-margin">
        <label>Location:</label>
        {% render_field form.location class+="w3-input w3-border" %}
      </div>
      <div class="w3-margin">
        <label>Category:</label>
        {% render_field form.category %}
      </div>
      <div class="w3-margin">
        <label>Date From:</label>
        {% render_field form.date_from type="date" class+="w3-input w3-border" %}
      </div>
      <div class="w3-margin">
        <label>Date To:</label>
        {% render_field form.date_to type="date" class+="w3-input w3-border" %}
      </div>

      <div class="w3-margin w3-padding">
        <input type="submit" class="w3-button w3-border w3-right w3-center">
      </div>
    </form>
    <div class="w3-col w3-container l3 m2 s1"></div>
  </div>
</div>

<div class="w3-container w3-padding-32"></div>

<!-- footer -->
<footer class="w3-center w3-padding-16" style="font-size:80%">HotZone@2020 by CHOI Chong Hing 3035564940</footer>


<script>
function deleteCaseLocation() {
      if (confirm("Delete the following location entry from {{location.case.patient.patient_name}}(Case No: {{location.case.case_number}})?\nLocation: {{ location.place.location }}\nDate: {{location.date_from}} - {{location.date_to}}")){
        alert("Deleted!");
        window.location.href = "{% url 'case_location_delete' location.pk %}";
      };
    }

</script>
