{% extends 'base.html' %} 

{% block title %} | Case Info: #{{ case.case_number }} {% endblock %} 

{% block content %}

  {% comment %} 
  {{ disease.disease_name }}
  {{ disease.virus }}
  {{ disease.max_infectious_period }} 

  "{% url 'case_delete' case.pk %}"
  {% endcomment %}

<style>
  h6{
    line-height: 200%;
  }
</style>

  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Case #{{ case.case_number }}</span>
          <h6>Date Confirm: {{ case.date_confirmed }}</h6>
          <h6>Disease: {{ case.disease.disease_name }}</h6>
          <h6>Patient Name: {{ case.patient.patient_name }}</h6>
          <h6>Local/Import: {% if case.is_local %}<span class="blue-text">Local</span>{% else %}<span class="green-text">Import{% endif %}</span></h6>
          
          <!-- Location -->
          <div class="row">
            <a class="waves-effect waves-light btn-small" style="float:right;" href="{% url 'case_location_add_search' case.pk %}?location_query=">
              <i class="material-icons right">add</i>Add Location</a>
          </div>
          <ul class="collection with-header">
          {% if location_list.count == 0%}
            <li class="collection-header center"><h6>No Location Record</h6></li>
          {% else %}
            <li class="collection-header center"><h6>Locations Visited</h6></li>
          {% endif %}
          {% for location in location_list %}
            <li class="collection-item">
                <span style="font-weight: 600; font-size: 20px;" class="cyan-text text-darken-4">#{{ forloop.counter }}</span>
                <span class="title">{{location.place.location}}</span>
                <p>{{location.date_from}} - {{location.date_to}}</p>
                <span style="float:right; margin-left: 0; top: 40%;" class="new badge secondary-content {% if location.category == "Residence" %}purple{% elif location.category == "Workplace" %}red{% else %}green{%endif%}" data-badge-caption="">{{location.category}}</span>
                <a href="{% url 'case_location_details' location.pk %}">View Details</a>
            </li>
          {% endfor %} 
          </ul>

          <!-- End Location -->
          <a class="waves-effect waves-light btn-small" href="{% url 'case_disease' case.disease.pk '0' %}">
            <i class="material-icons right">cancel</i>Back
          </a>
          <a onclick="popToast()" class="waves-effect waves-light btn-small orange darken-4" style="float: right">
            <i class="material-icons right">delete</i>Delete
          </a>
        </div>
      </div>
    </div>
  </div>

<script>
function popToast(){
  var toastHTML = '<span>Delete Case #{{ case.case_number }}"?</span><a href="{% url 'case_delete' case.pk %}" class="btn-flat toast-action">Confirm</a>';
  M.toast({html: toastHTML, displayLength:7000 });
}
</script>

<!-- End of Content -->
{% endblock %}