{% extends 'base.html' %} 

{% block title %} | Add Location Visited {% endblock %} 

{% block content %}


{% comment %} 
  {% url 'case_details' case.pk %}
  {{ case.disease.disease_name }}
  {{case.patient.patient_name}} 
  {{ case.case_number }}


  Database
  {% url 'case_location_add' case.pk %}?location_pk={{result.pk}}

{% endcomment %}

<!-- Content -->
<div class="container">
  <nav class="clean">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'case_details' case.pk %}" class="breadcrumb">{{case.patient.patient_name}} </a>
        <a href="" class="breadcrumb">Add Location Visited</a>
      </div>
    </div>
  </nav>
</div>

<form class="row" method="get" action="">
  <div class="container">
    <div class="row">
      <div class="input-field">
        <input
          type="text"
          name="location_query"
          autofocus
        />
        <label class="active" for="first_name2">Search Location</label>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn-small" type="submit">
        <i class="material-icons right">arrow_forward</i>Search
      </button>
    </div>
  </div>
</form>


{% if database_list|length == 0 %}
<script>
  $(document).ready(function(){
    M.toast({html: 'No Location Found In Database'})
  });
</script>

{% endif %}
<script>
var results_count = {{ database_list|length }};
</script>



<div class="container">
  <div style="font-size: 80%; color: grey">
    &nbsp;Showing <span id="resultCount">test</span>
  </div>
  <div class="collection">
    <!-- Start Collection -->

      <!-- Database -->
      {% for result in database_list %}
      <a href="{% url 'case_location_add' case.pk %}?location_pk={{result.pk}}" class="collection-item"
      >{{result.location}}<span class="new badge green" data-badge-caption="">Database</span></a>
      {% endfor %}

      <!-- GeoData Store -->
      {% for result in result_list %}
      <a onclick="addLocation({{ forloop.counter0 }})" class="collection-item">
      {{result.nameEN}}<span class="new badge blue" data-badge-caption="">GeoData Store</span></a>
      {% endfor %}
  </div>
</div>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Confrim</h4>
      <h6>Are you sure you want to add this location?</h6>
      <p id="confrim_title" class="blue-text">A bunch of text</p>
      <p class="grey-text">Address: <span id="confirm_addr">A bunch of text</span></p>
      <p id="confirm_cord">A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a style="position: relative; display: block;" onclick="confirm()" class="modal-close waves-effect waves-blue btn-small">Yes</a>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

<!-- Script -->

{% if res_code != 200 and res_code != 400 and res_code != 500%}
<script>
  $(document).ready(function(){
    M.toast({html: 'Cannot get data from GeoData Store'})
  });
</script>
{% elif result_list|length > 0 %}
      <script>
        results_count += {{ result_list|length }}
      </script>
{% elif result_list %}
<script>
  $(document).ready(function(){
    M.toast({html: 'No location found from GeoData Store'})
  });
</script>
{% endif %}


{{ result_list|json_script:"result_list" }}

<script type="text/javascript">
  var windowsIndex;

  function addLocation(index){
    windowsIndex = index
    let item = JSON.parse(document.getElementById('result_list').textContent)[index];
    item.x = Math.round(item.x);
    item.y = Math.round(item.y);

    if (item.addressEN == ""){
      item.addressEN = "N/A";
    }

    document.getElementById('confrim_title').innerText = item.nameEN;
    document.getElementById('confirm_addr').innerText = item.addressEN;
    document.getElementById('confirm_cord').innerText = `(${item.x}, ${item.y})`;

    $('.modal').modal('open');
  }

  function confirm(){
    let index = windowsIndex;
    console.log("index:"+index);
    let item = JSON.parse(document.getElementById('result_list').textContent)[index];
    item.x = Math.round(item.x);
    item.y = Math.round(item.y);
    
    const Http = new XMLHttpRequest();
    const params = `?location=${item.nameEN}&address=${item.addressEN}&x=${item.x}&y=${item.y}`;
    window.location.href = window.location.href.substring(0,window.location.href.indexOf('query/')+6) + 'submit/' + {{ case.pk }} + params;
  }
</script>

{% if res_code != 200 and res_code != 400 and res_code != 500 %}
<script>
  $(document).ready(function(){
    M.toast({html: 'Cannot get Location Data from GeoData!\n(Response code: {{ res_code }})'})
  });
</script>
{% endif %}

{% if res_code == 400 %}
<script>
  $(document).ready(function(){
    M.toast({html: 'No location data from GeoData matches!'})
  });
</script>
{% endif %}

<script>
$( document ).ready(function() {
  let output_string = ' results'

  if (results_count == 1){
    output_string = ' result'
  }
  document.getElementById('resultCount').innerText = results_count + output_string;
  console.log(results_count);
});
</script>

<!-- End of Content -->
{% endblock %}
































