{% extends 'base.html' %} 

{% block title %} | Select Disease {% endblock %} 

{% block content %}

<!-- Content -->
<div class="container">
  <nav class="clean">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'case_choose_disease' '0' %}" class="breadcrumb">Select Disease</a>
      </div>
    </div>
  </nav>
</div>

<form class="row" method="get" action="query/0">
  <div class="container">
    <div class="row">
      <div class="input-field">
        <input
          type="text"
          name="disease_search"
          autofocus
        />
        <label class="active" for="first_name2">Search Disease</label>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn-small" type="submit" value="Search">
        <i class="material-icons right">arrow_forward</i>Search
      </button>
      <a
        class="waves-effect waves-light btn-small orange darken-4"
        style="float: right"
        href="{% url 'disease_add' %}"
      >
        <i class="material-icons right">add</i>Create New Disease
      </a>
    </div>
  </div>
</form>


{% if disease_list.count == 0 %}
<script>
  $(document).ready(function(){
    M.toast({html: 'No Disease Found'})
  });
</script>

{% else %}

<div class="container">
  <div style="font-size: 80%; color: grey">
    &nbsp;Showing {{ disease_list.count }} results from {{ start_index }} to {{ end_index }}
  </div>
  <div class="collection">
    <!-- Start Collection -->

    {% for disease in disease_list %}

    {% comment %} 
    {% url 'case_disease' disease.pk '0' %}
    {{disease.disease_name}}
    {{disease.virus}} 
    {% endcomment %}

    <a href="{% url 'case_disease' disease.pk '0' %}" class="collection-item"
      >{{disease.disease_name}}<span class="new badge indigo" data-badge-caption="{% if disease.curr_case_number > 1 %}Cases {% else %} Case {% endif %}"
        >{{disease.curr_case_number}}</span
      ></a
    >
    {% endfor %}
  </div>
</div>
{% endif %}
<!-- End of Content -->
{% endblock %}