{% extends 'base.html' %} 

{% block title %} | New Location: {{ location.location }} {% endblock %} 

{% block content %}

<!--
  {% comment %} 
  
  {{ case.disease.disease_name }}
  {{case.patient.patient_name}} 
  {{ case.case_number }} 

  href="{% url 'case_location_add_search' case.pk %}?location_query="
  
  {% endcomment %}
-->

<style>
  h6{
    line-height: 200%;
  }
</style>

  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card">

        <div class="card-content">
          <span class="card-title">#{{ case.case_number }} : {{case.patient.patient_name}}</span>
          <!-- Form -->
            <form action="submit/{{case.pk}}?location_pk={{location_pk}}" method="post">
              {% csrf_token %} {% load widget_tweaks %}
              <div class="input-field">
                {% render_field form.location %}
                <label>Location:</label>
              </div>
              <div class="input-field">
                {% render_field form.category %}
                <label>Category:</label>
              </div>
              <div class="input-field">
                <label>Date From:</label>
                {% render_field form.date_from type="text" class="validate datepicker" required="required" %}
              </div>
              <div class="input-field">
                <label>Date To:</label>
                {% render_field form.date_to type="text" class="validate datepicker" required="required" %}
              </div>
              <a class="waves-effect waves-light btn-small" href="{% url 'case_location_add_search' case.pk %}?location_query=">
                <i class="material-icons right">cancel</i>Cancel
              </a>
              <button class="waves-effect waves-light btn-small" style="float: right" type="submit">
                <i class="material-icons right">check</i>Done
              </button>
            </form>
            <!-- End Form -->
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({"format":'yyyy-mm-dd'});
    $('select').formSelect();
  });
</script>

{% endblock %}