{% extends 'base.html' %} 

{% block title %} | Edit: {{ location.place.location }} {% endblock %} 

{% block content %}


<style>
  h6{
    line-height: 200%;
  }
</style>

  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card">
        <div class="card-image">
          <button onclick="popToast()" class="btn-floating halfway-fab waves-effect waves-light btn-medium orange darken-4">
            <i class="material-icons">delete</i>Delete
          </button>
        </div>
        <div class="card-content">
        <span class="card-title">{{ location.case.disease.disease_name }}: {{ location.case.patient.patient_name }}</span>
          <!-- Form -->
            <form action="submit/{{ location.pk }}" method="post">
              {% csrf_token %} {% load widget_tweaks %}
              <div class="input-field">
                {% render_field form.location class+="w3-input w3-border" %}
              </div>
              <div class="input-field">
                {% render_field form.category %}
              </div>
              <div class="input-field">
                <label>Date From:</label>
                {% render_field form.date_from type="text" class="validate datepicker" required="required" %}
              </div>
              <div class="input-field">
                <label>Date To:</label>
                {% render_field form.date_to type="text" class="validate datepicker" required="required" %}
              </div>
              <a class="waves-effect waves-light btn-small" href="{% url 'case_location_details' location.pk %}">
                <i class="material-icons right">cancel</i>Cancel
              </a>
              <button class="waves-effect waves-light btn-small" style="float: right" type="submit">
                <i class="material-icons right">check</i>Done
              </button>
            </form>
            <!-- End Form -->
        </div>
      </div>
    </div>
  </div>


<script>
function popToast(){
  var toastHTML = '<span>Delete location "{{ location.place.location }}"?</span><a href="{% url 'case_location_delete' location.pk %}" class="btn-flat toast-action">Confirm</a>';
  M.toast({html: toastHTML, displayLength:7000 });
}

$(document).ready(function(){
    $('.datepicker').datepicker({"format":'yyyy-mm-dd'});
    $('select').formSelect();
  });
</script>

{% endblock %}
