{% extends 'base.html' %} 

{% block title %} | Create New Disease {% endblock %}

{% block content %}

<!-- Content -->
<div class="container">
  <div class="row">
    <form class="col s12 m8 l6 offset-m2 offset-l3" action="submit/" method="post">
    {% csrf_token %} {% load widget_tweaks %}
      <div class="row">
        <div class="input-field">
          {% render_field form.disease_name id="first_name" type="text" class="validate" autofocus="autofocus" required="required" %}
          <label for="first_name">Disease Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          {% render_field form.virus id="hkid" type="text" class="validate" required="required" %}
          <label for="hkid">Virus</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          {% render_field form.max_infectious_period id="dob" type="text" class="validate" required="required" %}
          <label for="dob">Max. Infection Period</label>
        </div>
      </div>
      <div class="row">
        <button class="waves-effect waves-light btn-small" type="submit">
        <i class="material-icons right">add</i>Create
        </button>
        <a
        class="waves-effect waves-light btn-small orange darken-4"
        style="float: right"
        href="{% url 'disease_page' 0 %}"
      >
        <i class="material-icons right">cancel</i>Cancel
      </a>
      </div>
    </form>
  </div>
</div>

<!-- End of Content -->
{% endblock %}