<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HotZone {% block title %}{% endblock %}</title>
    <meta name="description" content="HotZone by Tom Mong" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static
    "favicon/apple-touch-icon.png" %}"> <link rel="icon" type="image/png"
    sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}"> <link
    rel="icon" type="image/png" sizes="16x16" href="{% static
    "favicon/favicon-16x16.png" %}"> <link rel="manifest" href="{% static
    "favicon/site.webmanifest" %}">

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Compiled and minified JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
      integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Custom CSS-->
    <style>
      #main_content {
        margin-top: 15vh;
      }
      .collection-item {
        font-size: 3ch;
        font-weight: 300;
      }
      .material-icons {
        display: block;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper teal darken-2">
        <a href="{% url 'main_page' %}" class="brand-logo center">HotZone</a>
      </div>
    </nav>

    <div class="container">
      <!-- Page Content goes here -->
      <div id="main_content">
        <form
          class="w3-rest w3-container w3-border w3-padding"
          method="post"
          action="attempt/"
        >
          {% csrf_token %}
          <div class="w3-margin w3-center">
            <h3>Login</h3>
          </div>
          <div class="w3-margin">
            <label>Username:</label>
            <input
              type="text"
              name="username"
              maxlength="100"
              class="w3-input w3-border"
              placeholder="Username"
              required
              id="id_username"
            />
          </div>
          <div class="w3-margin">
            <label>Password:</label>
            <input
              type="password"
              name="password"
              maxlength="100"
              class="w3-input w3-border"
              placeholder="Password"
              required
              id="id_password"
            />
          </div>
          {% if isLoginFailed%}
          <div class="w3-margin">
            <p class="w3-text-red">Incorrect Username or Password.</p>
          </div>
          {% endif %}
          <div class="w3-margin w3-padding w3-center">
            <input
              type="submit"
              class="w3-button w3-border w3-center"
              value="Login"
              style="width: 100px"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
