{% extends 'base.html' %} 

{% block title %} | Patient {% endblock %} 

{% block content %}

<form class="row" method="get" action="/data/patient/all/query/0">
  <div class="container">
    <div class="row">
      <div class="input-field">
        <input
          type="text"
          name="patient_search"
          placeholder="Search Patient"
          autofocus
        />
        <label class="active" for="first_name2">Search Patient</label>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn-small" type="submit">
        <i class="material-icons right">arrow_forward</i>Search
      </button>
      <a
        class="waves-effect waves-light btn-small orange darken-4"
        style="float: right"
        href="{% url 'patient_add' %}"
      >
        <i class="material-icons right">add</i>Create New Patient
      </a>
    </div>
  </div>
</form>

<div class="w3-container w3-padding">
  <div class="w3-row">
    <div class="w3-col w3-container l2 m1 s0"></div>
    <div class="w3-col w3-container l8 m10 s12">
      <div class="w3-row" method="get" action="query/0">
        {% if previous != offset %}
        <div class="w3-col w3-left w3-container w3-center" style="width: 150px">
          <a
            class="w3-button w3-white w3-border"
            style="width: 110px"
            href="{% url 'patient_page' previous %}"
            >&lt; Previous</a
          >
        </div>
        {% endif %} {% if next != offset %}
        <div
          class="w3-col w3-right w3-container w3-center"
          style="width: 150px"
        >
          <a
            class="w3-button w3-white w3-border"
            style="width: 110px"
            href="{% url 'patient_page' next %}"
            >Next &gt;</a
          >
        </div>
        {% endif %}
      </div>
    </div>
    <div class="w3-col w3-container l2 m1 s0"></div>
  </div>
</div>

{% if patient_list.count == 0 %}
<script>
  $(document).ready(function(){
    M.toast({html: 'No Patient Match'})
  });
</script>
{% else %}

<div class="container">
  <div style="font-size: 80%; color: grey">
    &nbsp;Showing {{ patient_list.count }} results from {{ start_index }} to {{ end_index }}
  </div>
  <div class="collection">
    <!-- Start Collection -->

    {% for patient in patient_list %}
    <!-- 
        {{patient.patient_name}}
        {{patient.identify_number}}
        {% url 'patient_details' patient.pk %}
      -->
    <a href="{% url 'patient_details' patient.pk %}" class="collection-item"
      >{{patient.patient_name}}<span class="badge"
        >Identification Number: {{patient.identify_number}}</span
      ></a
    >
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="w3-container w3-padding">
  <div class="w3-row">
    <div class="w3-col w3-container l2 m1 s0"></div>
    <div class="w3-col w3-container l8 m10 s12">
      <div class="w3-row" method="get" action="query/0">
        {% if previous != offset %}
        <div class="w3-col w3-left w3-container w3-center" style="width: 150px">
          <a
            class="w3-button w3-white w3-border"
            style="width: 110px"
            href="{% url 'patient_page' previous %}"
            >&lt; Previous</a
          >
        </div>
        {% endif %} {% if next != offset %}
        <div
          class="w3-col w3-right w3-container w3-center"
          style="width: 150px"
        >
          <a
            class="w3-button w3-white w3-border"
            style="width: 110px"
            href="{% url 'patient_page' next %}"
            >Next &gt;</a
          >
        </div>
        {% endif %}
      </div>
    </div>
    <div class="w3-col w3-container l2 m1 s0"></div>
  </div>
</div>
{% endblock %}