<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
h1,h3 {font-family: "Raleway", sans-serif}
</style>


<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <h1><b>HotZone - Patient</b></h1>
  <h3>{{ patient.patient_name }}</h3>
</header>

<div class="w3-container w3-padding">
  <div class="w3-row">
    <div class="w3-col w3-container l2 m1 s0"></div>
    <div class="w3-col w3-container l8 m10 s12">
      <div class="w3-row">
        <div class="w3-col w3-left w3-container w3-center" style="width:100px"> <a class="w3-button w3-white w3-border" href="{% url 'patient_page' offset %}">&lt; Back</a> </div>
        <div class="w3-col w3-right w3-container w3-center" style="width:100px"> <a class="w3-button w3-white w3-border" href="{% url 'patient_edit' patient.pk %}">Edit</a> </div>
      </div>
    </div>
    <div class="w3-col w3-container l2 m1 s0"></div>
  </div>
</div>

<div class="w3-container w3-padding-16"></div>

<div class="w3-container w3-padding">
  <div class="w3-row">
    <div class="w3-col w3-container l3 m2 s1"></div>
    <div class="w3-col w3-container l6 m8 s10 w3-border w3-padding">
      <p>Patient Name: {{ patient.patient_name }}</p>
      <p>Identify Document Number: {{ patient.identify_number }}</p>
      <p>Date of Birth: {{ patient.date_of_birth|date:"Y-m-d" }}</p>
    </div>
    <div class="w3-col w3-container l3 m2 s1"></div>
  </div>
</div>
