{% extends 'base.html' %} 

{% block title %} | Edit: {{ patient.patient_name }} {% endblock %} 

{% block content %}


<!--
  {% url 'patient_edit' patient.pk %}
  Edit User

  {% url 'patient_details' patient.pk %}
  Detail page

  {% url 'patient_page' 0 %}
  Back Menu
-->


<style>
  h6{
    line-height: 200%;
  }
</style>

  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card">
        <div class="card-image">
          <button onclick="popToast()" class="btn-floating halfway-fab waves-effect waves-light btn-medium orange darken-4">
            <i class="material-icons">delete</i>Delete
          </button>
        </div>
        <div class="card-content">
          <!-- Form -->
              
            <form action="submit/{{ patient.pk }}" method="post">
              {% csrf_token %} {% load widget_tweaks %}
              <div class="input-field">
                <label>Patient Name:</label>
                {% render_field form.patient_name type="text" class+="w3-input w3-border" %}
              </div>
              <div class="input-field">
                <label>Identify Document Number:</label>
                {% render_field form.identify_number type="text" class+="w3-input w3-border" %}
              </div>
              <div class="input-field">
                <label>Date of Birth:</label>
                {% render_field form.date_of_birth id="dob" type="text" class="validate datepicker" required="required" %}
              </div>
              <a class="waves-effect waves-light btn-small" href="{% url 'patient_details' patient.pk %}">
                <i class="material-icons right">cancel</i>Cancel
              </a>
              <button class="waves-effect waves-light btn-small" style="float: right" type="submit">
                <i class="material-icons right">check</i>Done
              </button>
            </form>
            <!-- End Form -->
        </div>
      </div>
    </div>
  </div>


<script>
function popToast(){
  var toastHTML = '<span>Delete Patient "{{ patient.patient_name }}"?</span><a href="{% url 'patient_delete' patient.pk %}" class="btn-flat toast-action">Confirm</a>';
  M.toast({html: toastHTML, displayLength:7000 });
}


function deletePatient() {
      if (confirm("Delete Patient: {{ patient.patient_name }} ?")){
        alert("Deleted!");
        window.location.href = "{% url 'patient_delete' patient.pk %}";
      };
    }

$(document).ready(function(){
    $('.datepicker').datepicker({"format":'yyyy-mm-dd'});
  });
</script>

{% endblock %}