{% extends 'base.html' %} 

{% block title %} | Patient Info: {{ patient.patient_name }} {% endblock %} 

{% block content %}



<!--
  {% url 'patient_edit' patient.pk %}
  Edit User

  {% url 'patient_page' 0 %}
  Back
-->

<style>
  h6{
    line-height: 200%;
  }
</style>

  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ patient.patient_name }}</span>
          <h6>Patient Name: {{ patient.patient_name }}</h6>
          <h6>Identify Document Number: {{ patient.identify_number }}</h6>
          <h6>Date of Birth: {{ patient.date_of_birth|date:"Y-m-d" }}</h6>
          <a class="waves-effect waves-light btn-small" href="{% url 'patient_page' offset %}">
            <i class="material-icons right">cancel</i>Back
          </a>
          <a href="{% url 'patient_edit' patient.pk %}" class="waves-effect waves-light btn-small orange darken-4" style="float: right">
            <i class="material-icons right">create</i>Edit
          </a>
        </div>
      </div>
    </div>
  </div>

<!-- End of Content -->
{% endblock %}