<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
h1,h3 {font-family: "Raleway", sans-serif}
</style>


<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <h1><b>HotZone - Patient</b></h1>
</header>

<div class="w3-container w3-padding">
  <div class="w3-row">
    <div class="w3-col w3-container l2 m1 s0"></div>
    <div class="w3-col w3-container l8 m10 s12">
      <form class="w3-row" method="get"  action="/data/patient/all/query/0">
        <div class="w3-col w3-right w3-container w3-center" style="width:100px">
          <input class="w3-button w3-white w3-border" type="submit" value="Search">
        </div>
        <div class="w3-col w3-left w3-container w3-center" style="width:120px"> <a class="w3-button w3-white w3-border" href="{% url 'patient_page' '0' %}"> &lt; Back</a> </div>
        <div class="w3-rest w3-center">
          <input class="w3-input" type="text" name="patient_search" placeholder="Search Patient"></input>
        </div>
      </form>
    </div>
    <div class="w3-col w3-container l2 m1 s0"></div>
  </div>
</div>

<div class="w3-container w3-padding-16"></div>

<div class="w3-container w3-padding">
  <div class="w3-row">
    <div class="w3-col w3-container l2 m1 s0"></div>
    <div class="w3-col w3-container l8 m10 s12">
      <div class="w3-row" method="get"  action="query/0">
        {% if previous != offset %}
        <div class="w3-col w3-left w3-container w3-center" style="width:150px">
          <a class="w3-button w3-white w3-border" style="width:110px" href="{% url 'patient_search' previous %}?patient_search={{q}}">&lt; Previous</a>
        </div>
        {% endif %}
        {% if next != offset %}
        <div class="w3-col w3-right w3-container w3-center" style="width:150px">
          <a class="w3-button w3-white w3-border" style="width:110px" href="{% url 'patient_search' next %}?patient_search={{q}}">Next &gt;</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="w3-col w3-container l2 m1 s0"></div>
  </div>
</div>


{% if patient_list.count == 0 %}
<div class="w3-row">
  <div class="w3-col w3-left w3-container l2 m1 s0"></div>
  <div class="w3-col w3-right w3-container l2 m1 s0"></div>
  <div class="w3-rest w3-container">
    <div class="w3-container">
      <div style="font-size:80%;color:grey">&nbsp;Showing 0 result </div>
    </div>
    <div class="w3-container">
      <a class="w3-button w3-border w3-block w3-left-align w3-padding w3-text-grey" href="{% url 'patient_add' %}">
          &nbsp; -> add a new Patient
      </a>
      <div class="w3-border w3-block w3-left-align w3-padding">
        > No Patient Match
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="w3-row">
  <div class="w3-col w3-left w3-container l2 m1 s0"></div>
  <div class="w3-col w3-right w3-container l2 m1 s0"></div>
  <div class="w3-rest w3-container">
    <div class="w3-container">
      <div style="font-size:80%;color:grey">&nbsp;Showing {{ patient_list.count }} results from {{ start_index }} to {{ end_index }}</div>
    </div>
    <div class="w3-container">
      <a class="w3-button w3-border w3-block w3-left-align w3-padding w3-text-grey" href="{% url 'patient_add' %}">
          &nbsp; -> add a new Patient
      </a>
      {% for patient in patient_list %}
      <a class="w3-button w3-border w3-block w3-left-align w3-padding" href="{% url 'patient_details' patient.pk %}" style="text-overflow:ellipsis">
          &nbsp;> {{patient.identify_number}} {{patient.patient_name}}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="w3-container w3-padding">
  <div class="w3-row">
    <div class="w3-col w3-container l2 m1 s0"></div>
    <div class="w3-col w3-container l8 m10 s12">
      <div class="w3-row" method="get"  action="query/0">
        {% if previous != offset %}
        <div class="w3-col w3-left w3-container w3-center" style="width:150px">
          <a class="w3-button w3-white w3-border" style="width:110px" href="{% url 'patient_search' previous %}?patient_search={{q}}">&lt; Previous</a>
        </div>
        {% endif %}
        {% if next != offset %}
        <div class="w3-col w3-right w3-container w3-center" style="width:150px">
          <a class="w3-button w3-white w3-border" style="width:110px" href="{% url 'patient_search' next %}?patient_search={{q}}">Next &gt;</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="w3-col w3-container l2 m1 s0"></div>
  </div>
</div>

<!-- footer -->
<footer class="w3-center w3-padding-16" style="font-size:80%">HotZone@2020 by CHOI Chong Hing 3035564940</footer>
