{% extends 'base.html' %} 

{% block title %} | Edit: {{ location.location }} {% endblock %} 

{% block content %}


<!--
  {% url 'location_edit' location.pk %}
  Edit User

  {% url 'location_details' location.pk %}
  Detail page

  {% url 'location_page' 0 %}
  Back Menu
-->


<style>
  h6{
    line-height: 200%;
  }
</style>

  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card">
        <div class="card-image">
          <button onclick="popToast()" class="btn-floating halfway-fab waves-effect waves-light btn-medium orange darken-4">
            <i class="material-icons">delete</i>Delete
          </button>
        </div>
        <div class="card-content">
            <a class="waves-effect waves-light btn-small orange" style="float: left"  href="{% url 'location_edit_query' location.pk %}">
                <i class="material-icons right">search</i>Search In GeoData
              </a>

          <!-- Form -->
            <form action="submit/{{ location.pk }}" method="post">
              {% csrf_token %} {% load widget_tweaks %}
              <div class="input-field">
                <label>Location:</label>
                {% render_field form.location type="text" class+="w3-input w3-border" %}
              </div>
              <div class="input-field">
                <label>Address:</label>
                {% render_field form.address type="text" class+="w3-input w3-border" %}
              </div>
              <div class="input-field">
                <label>X-Coordinate:</label>
                {% render_field form.x type="text" class+="w3-input w3-border" %}
              </div>
              <div class="input-field">
                <label>Y-Coordinate:</label>
                {% render_field form.y type="text" class+="w3-input w3-border" %}
              </div>
              <a class="waves-effect waves-light btn-small" href="{% url 'location_details' location.pk %}">
                <i class="material-icons right">cancel</i>Cancel
              </a>
              <button class="waves-effect waves-light btn-small" style="float: right" type="submit">
                <i class="material-icons right">check</i>Done
              </button>
            </form>
            <!-- End Form -->
        </div>
      </div>
    </div>
  </div>


<script>
function popToast(){
  var toastHTML = '<span>Delete location "{{ location.location }}"?</span><a href="{% url 'location_delete' location.pk %}" class="btn-flat toast-action">Confirm</a>';
  M.toast({html: toastHTML, displayLength:7000 });
}
</script>

{% endblock %}