{% extends 'base.html' %} 

{% block title %} | Location {% endblock %} 

{% block content %}

<!-- Content -->
<div class="container">
  <nav class="clean">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'location_page' '0' %}" class="breadcrumb">Select Location</a>
      </div>
    </div>
  </nav>
</div>


<form class="row" method="get" action="query/0">
  <div class="container">
    <div class="row">
      <div class="input-field">
        <input
          type="text"
          name="location_search"
          autofocus
        />
        <label class="active" for="first_name2">Search Location</label>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn-small" type="submit">
        <i class="material-icons right">arrow_forward</i>Search
      </button>
      <a
        class="waves-effect waves-light btn-small orange darken-4"
        style="float: right"
        href="{% url 'location_add' %}"
      >
        <i class="material-icons right">add</i>Create New location
      </a>
    </div>
  </div>
</form>


{% if location_list.count == 0 %}
<script>
  $(document).ready(function(){
    M.toast({html: 'No Location Found'})
  });
</script>

{% else %}

<div class="container">
  <div style="font-size: 80%; color: grey">
    &nbsp;Showing {{ location_list.count }} results from {{ start_index }} to {{ end_index }}
  </div>
  <div class="collection">
    <!-- Start Collection -->

    {% for location in location_list %}

    <a href="{% url 'location_details' location.pk %}" class="collection-item"
      >{{location.location}}<span class="new badge green" data-badge-caption=""
        >Database</span
      ></a
    >
    {% endfor %}
  </div>
</div>
{% endif %}
<!-- End of Content -->
{% endblock %}