{% extends 'base.html' %} 

{% block title %} | Location Info: {{ location.location }} {% endblock %} 

{% block content %}



<!--
  {% url 'location_edit' location.pk %}
  Edit User

  {% url 'location_page' 0 %}
  Back
-->

<style>
  h6{
    line-height: 200%;
  }
</style>

  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ location.location }}</span>
          <h6>Address: {{ location.address }}</h6>
          <h6>Coordinates: ({{ location.x_coor }}, {{ location.y_coor }})</h6>
          <a class="waves-effect waves-light btn-small" href="{% url 'location_page' offset %}">
            <i class="material-icons right">cancel</i>Back
          </a>
          <a href="{% url 'location_edit' location.pk %}" class="waves-effect waves-light btn-small orange darken-4" style="float: right">
            <i class="material-icons right">create</i>Edit
          </a>
        </div>
      </div>
    </div>
  </div>

<!-- End of Content -->
{% endblock %}