{% extends 'base.html' %} 

{% block title %} | Location {% endblock %} 

{% block content %}



<!-- Content -->


<div class="container">
  <nav class="clean">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'location_page' '0' %}" class="breadcrumb">Select Location</a>
        <a href="{% url 'location_add' %}" class="breadcrumb">
          {% if type == 0 %}
            Add New Location
          {% elif type == 1 %}
          Edit {{ location.location }}
          {% endif %}
        </a>
      </div>
    </div>
  </nav>
</div>

<form class="row" method="get" action="">
  <div class="container">
    <div class="row">
      <div class="input-field">
        <input
          type="text"
          name="location_query"
          autofocus
          required
        />
        <label class="active" >Search Location</label>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn-small" type="submit">
        <i class="material-icons right">arrow_forward</i>Search
      </button>
    </div>
  </div>
</form>


{% if res_code != 200 and res_code != 400 %}
<script>
  $(document).ready(function(){
    M.toast({html: 'No Location Found'})
  });
</script>

{% elif result_list|length > 0 %}

<div class="container">
  <div style="font-size: 80%; color: grey">
    {% if result_list|length == 1 %}
      &nbsp;Showing 1 result
    {% else %}
      &nbsp;Showing {{ result_list|length }} results
    {% endif %}
  </div>
  <div class="collection">
    <!-- Start Collection -->

    {% for result in result_list %}

    <a onclick="addLocation({{ forloop.counter0 }})" class="collection-item"><p>{{result.nameEN}} {% if result.addressEN == "" %} {% else %}<br><span class="grey-text">{{result.addressEN}}</span>{% endif %} </p>
      <span class="new badge blue" style="float: left; position: relative; margin-left: 0; margin-bottom:0; bottom: 2vh;" data-badge-caption="">GeoData Store</span>
    </a>
    {% endfor %}
  </div>
</div>
{% elif result_list %}
<script>
  $(document).ready(function(){
    M.toast({html: 'No Location Match!'})
  });
</script>
{% endif %}

 <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Confrim</h4>
      <h6>Are you sure you want to add this location?</h6>
      <p id="confrim_title" class="blue-text">A bunch of text</p>
      <p class="grey-text">Address: <span id="confirm_addr">A bunch of text</span></p>
      <p id="confirm_cord">A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a style="position: relative; display: block;" onclick="confirm()" class="modal-close waves-effect waves-blue btn-small">Yes</a>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>


<!-- Script -->
{{ result_list|json_script:"result_list" }}

{% if type == 0 %}
<script type="text/javascript">
  var windowsIndex;

  function addLocation(index){
    windowsIndex = index
    let item = JSON.parse(document.getElementById('result_list').textContent)[index];
    item.x = Math.round(item.x);
    item.y = Math.round(item.y);

    if (item.addressEN == ""){
      item.addressEN = "N/A";
    }

    document.getElementById('confrim_title').innerText = item.nameEN;
    document.getElementById('confirm_addr').innerText = item.addressEN;
    document.getElementById('confirm_cord').innerText = `(${item.x}, ${item.y})`;

    $('.modal').modal('open');
  }

  function confirm(){
    let index = windowsIndex;
    console.log("index:"+index);
    let item = JSON.parse(document.getElementById('result_list').textContent)[index];
    item.x = Math.round(item.x);
    item.y = Math.round(item.y);
    
    const Http = new XMLHttpRequest();
    const params = `?location=${item.nameEN}&address=${item.addressEN}&x=${item.x}&y=${item.y}`;
    window.location.href = window.location.href.substring(0,window.location.href.indexOf('?location_query=')) + 'submit' + params;
  }
</script>

{% elif type == 1 %}
<script type="text/javascript">
  var windowsIndex;

  function addLocation(index){
    let index = windowsIndex;
    let item = JSON.parse(document.getElementById('result_list').textContent)[index];
    item.x = Math.round(item.x);
    item.y = Math.round(item.y);

    if (item.addressEN == ""){
      item.addressEN = "N/A";
    }

    document.getElementById('confrim_title').innerText = item.nameEN;
    document.getElementById('confirm_addr').innerText = item.addressEN;
    document.getElementById('confirm_cord').innerText = `(${item.x}, ${item.y})`;

    $('.modal').modal('open');
  }

  function confirm(){
    let index = windowsIndex;
    console.log("index:"+index);
    let item = JSON.parse(document.getElementById('result_list').textContent)[index];
    item.x = Math.round(item.x);
    item.y = Math.round(item.y);
    
    const Http = new XMLHttpRequest();
    const params = `?location=${item.nameEN}&address=${item.addressEN}&x=${item.x}&y=${item.y}`;
    window.location.href = window.location.href.substring(0,window.location.href.indexOf('query/')) + 'submit/' + {{ location.pk }} + params;
  }
</script>
{% endif %}

{% if res_code != 200 and res_code != 400 %}
<script type="text/javascript">
        function failed() {
            M.toast({html: 'Cannot get Location Data from GeoData!\n(Response code: {{ res_code }})'});
        }
        window.onload = failed();
</script>
{% endif %}

{% if res_code == 400 %}
<script type="text/javascript">
        function failed() {
            M.toast({html: 'No location data from GeoData matches!'});
        }
        window.onload = failed();
</script>
{% endif %}


<!-- End of Content -->
{% endblock %}
















